:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  overflow-y: auto;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #a09e54 #272727;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #272727;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffd600;
  border-radius: 10px;
  border: 3px solid #272727;
}